
<header class="flex justify-center text-center">
    <ul class="gap-4 p-4">
      <h1 class="text-4xl font-bold text-citron">Book Finder</h1>
      <p class="text-lg font-light opacity-55 text-silk">Search and discover books easily!</p>
    </ul>
  </header>
  